{% extends 'base.html' %}

{% block title %}
草榴社区
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div id="content" class="content">

        <div id="posts" class="posts-expand">
            <header class="post-header">
                <h2 class="post-title" itemprop="name headline">tags</h2>
            </header>

            <div class="tag-cloud">
                <div class="tag-cloud-tags">

                   {% for blog_tag in blog.tag.all %}
                        <a href="{% url 'tag_name' blog_tag.name %}" rel="tag"># {{ blog_tag.name }}</a>
                    {% endfor %}


                </div>
            </div>
        </div>

    </div>

    <div class="comments" id="comments">

        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>

    </div>

</div>
{% endblock %}